# ignore all .env files
*.env

# ignore letsencrpyt acme.json file
acme.json

# ignoring secrets directories
/authelia/secrets
/traefik/secrets

# ignoring all local docker data directories
/authelia/openldap/
/jellyfinseerr/jellyfin/
/jellyfinseerr/jellyseerr/
/media-automation/prowlarr/
/media-automation/qbittorrent/
/media-automation/radarr/
/media-automation/sonarr/
