# ignore all .env files
*.env

# ignore letsencrpyt acme.json file
acme.json

# ignoring secrets directories
/authelia/secrets
/traefik/secrets

# ignoring all local docker data directories
/authelia/openldap/
/jellyfinseerr/jellyfin/
/jellyfinseerr/jellyseerr/
/qbittorrent/qBittorrent/
/qbittorrent/openvpn/
/arr_services/prowlarr/
/arr_services/radarr/
/arr_services/sonarr/
/arr_services/bazarr/
